


<div style="display: inline-block" >

    <div>
        <img ng-src="{{image.dataUrl}}" width="200" height="200" />
    </div>

    <div class="form-group">
        <input class="form-control headerText"
               type="text"
               ng-model="image.title"
               placeholder="Title ..." />
    </div>

    <div class="form-group">
        <input class="form-control headerText"
               type="text"
               ng-model="image.description"
               placeholder="Title ..." />
    </div>

</div>