
<style>


    .selected > div{
        border: solid green 2px;
    }


    .grouped > div{
    }

    .mainContainer {
        padding: 10px;
        background-color: #949497;
    }

    .ungroupedContainer{
        background-color: #EEEEEE;
        padding: 9px 14px;
        border: 1px solid #e1e1e8;
        border-radius: 4px;
    }

</style>

<div class="mainContainer" ng-controller="MainController as controller" >

    <div ng-repeat="group in controller.imageGroups">
        <image-group class="grouped"  images="group.images"
                     selected-images="controller.selectedImages"
                    image-pool="controller.ungroupedImages"></image-group>
    </div>


    <br/>

    <div class="ungroupedContainer" ng-show="controller.ungroupedImages.length > 0">

        <h3>Click To Add To Groups</h3>

        <detailed-image-box
                            ng-repeat="image in controller.ungroupedImages"
                            image="image"
                            ng-click="controller.onImageSelect(image)"
                            ng-class="{'selected': controller.selectedImages.indexOf(image) >= 0 }"

                ></detailed-image-box>

    </div>



    <br/>

    <div>

        <button ng-show="controller.selectedImages.length > 0" ng-click="controller.onCreateImageGroup()"  >Create Group</button>

    </div>


    <br/>

    <multifileuploader delegate="controller.onImageAdded(url)" ></multifileuploader>
    
</div>