
<style>


    .selected > div{
        border: solid green 2px;
    }


    .grouped > div{
    }

    .mainContainer {
        padding: 10px;
    }

</style>

<div class="mainContainer" ng-controller="MainController as controller" >

    <div ng-repeat="group in controller.imageGroups">
        <image-group class="grouped"  images="group.images"
                     selected-images="controller.selectedImages"
                    image-pool="controller.ungroupedImages"></image-group>
    </div>


    <br/>

    <detailed-image-box ng-repeat="image in controller.ungroupedImages"
                        image="image"
                        ng-click="controller.onImageSelect(image)"
                        ng-class="{'selected': controller.selectedImages.indexOf(image) >= 0 }"

            ></detailed-image-box>




    <br/>

    <div>

        <button ng-show="controller.selectedImages.length > 0" ng-click="controller.onCreateImageGroup()"  >Create Group</button>

    </div>


    <br/>

    <multifileuploader delegate="controller.onImageAdded(url)" ></multifileuploader>
    
</div>